/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face { font-family: "roboto"; src: url("../fonts/roboto/Roboto-Regular.ttf"); font-weight: normal; }
@font-face { font-family: "roboto"; src: url("../fonts/roboto/Roboto-Black.ttf"); font-weight: bold; }
@font-face { font-family: "roboto"; src: url("../fonts/roboto/Roboto-Medium.ttf"); font-weight: 500; }
@font-face { font-family: "roboto"; src: url("../fonts/roboto/Roboto-Light.ttf"); font-weight: 200; }
body { color: #2a2a2a; font-family: 'roboto', Arial; }

header ul li { display: inline; font-family: 'roboto', Arial; font-size: 14px; }
header ul li a { color: #494949; }

.top-head { height: 46px; background: #f7f7f9; }
.top-head ul { color: #494949; /*margin-top: 14px;*/ }
.top-head ul li { padding: 15px; float: left; }
.top-head ul li:nth-child(1) { padding-left: 0; }
.top-head ul li:nth-child(9) { padding-right: 0; float: right; }
.top-head ul li:nth-child(3) select { width: 70px; }
.top-head ul li .border-right { border-right: 1px solid #494949; padding-right: 4px; }
.top-head ul li .active { text-decoration-line: underline; text-decoration-style: solid; text-decoration-color: #494949; }
.top-head ul li select { border: none; background: #f7f7f9; width: 55px; border-bottom: 1px dotted #b3d995; }

.midle-head { height: 143px; }
.midle-head .container { position: relative; }
.midle-head .logo { margin-top: 25px; width: 240px; position: absolute; left: 15px; }
.midle-head .preferences { display: inline-block; float: right; width: 250px; height: 133px; margin-top: 22px; text-align: right; }
.midle-head .preferences ul { margin-bottom: 30px; }
.midle-head .preferences ul li { margin-right: 10px; }
.midle-head .preferences ul li:nth-child(2) { margin-right: 0; }
.midle-head .preferences ul li img { margin-bottom: 5px; margin-right: 8px; }
.midle-head .preferences .phone img { display: inline-block; float: inherit; padding-right: 20px; }
.midle-head .preferences .phone p { display: inline-block; float: left; margin: 0; color: #367800; float: right; }
.midle-head .preferences .phone p:nth-child(2) { font-family: 'roboto', Arial; font-weight: bold; font-size: 20px; }
.midle-head .preferences .phone p:nth-child(3) { font-size: 16px; margin-left: 3px; }

nav .navbar-collapse { background: #4eac01; border-radius: 3px; height: 47px; }
nav .navbar-collapse ul li a { color: #ffffff; font-family: arial; font-size: 14px; text-transform: uppercase; padding: 20px 17.5px; }
nav .navbar-collapse ul li a:hover { background: #4eac01; text-decoration: underline; }
nav .navbar-collapse ul li .navbar-form { margin: 0; padding: 0; position: absolute; top: 13px; box-sizing: border-box; }
nav .navbar-collapse ul li .navbar-form .input-group > .form-control { height: 35px; border: none; padding: 0; width: 350px; padding-left: 17px; }
nav .navbar-collapse ul li .navbar-form .input-group button { height: 35px; border: none; background: #fff; }
nav .navbar-collapse ul li .basket { position: absolute; left: 410px; top: 10px; width: 100px; }
nav .navbar-collapse ul li .basket img { float: left; width: 30px; padding-top: 5px; }
nav .navbar-collapse ul li .basket p { display: inline-block; margin: 0; float: right; color: #fff; }
nav .navbar-collapse ul li .basket p:nth-child(2) { font-family: 'roboto', Arial; font-weight: 500; font-size: 16px; text-transform: uppercase; }
nav .navbar-collapse ul li .basket p:nth-child(3) { font-family: 'roboto', Arial; font-weight: normal; font-size: 13px; }

.content .range { border: 1px solid #e8e8e8; border-radius: 3px; color: #2a2a2a; }
.content .range .span { display: inline-block; margin: 0 20px; }
.content .range .span span { width: 30px; height: 3px; background: #4eac01; display: block; margin-top: 7px; }
.content .range h3 { font-family: 'roboto', Arial; font-weight: normal; margin: 20px 0; display: inline-block; }
.content .range ul li { border-bottom: 1px solid #e8e8e8; height: 50px; margin-left: 20px; margin-right: 20px; /*background: url(../img/arrow.png) no-repeat;*/ /*background-position: right;*/ }
.content .range ul li:hover { background: rgba(220, 220, 220, 0.18); }
.content .range ul li a { color: #2a2a2a; font-family: 'roboto', Arial; font-weight: normal; padding: 10px 0 10px 0; display: block; background: url(../img/arrow.png) no-repeat; background-position: right; }
.content .range ul li a:hover { text-decoration: none; }
.content .range ul li a img { padding-right: 8px; height: 100%; padding-bottom: 10px; }
.content .range ul li a span { font-size: 16px; }
.content .col-md-8 { padding-left: 0; }
.content .col-md-8 ul { display: inline-block; }
.content .col-md-8 ul li { display: inline; }
.content .col-md-8 ul li a { color: #2a2a2a; font-family: 'roboto', Arial; font-weight: 200; font-size: 13px; }
.content .col-md-8 ul .active a { font-weight: 600; }
.content .col-md-8 .code-item { display: inline-block; float: right; padding: 10px 20px; background: #c3ea21; border-radius: 3px; }
.content .col-md-8 .sorting { height: 31px; background: #f7f7f9; border-radius: 3px; }
.content .col-md-8 .sorting ul { padding-left: 20px; padding-top: 7px; box-sizing: border-box; }
.content .col-md-8 .sorting ul li { padding: 0 2.5px; }
.content .col-md-8 .sorting ul li a img { padding-left: 2px; }
.content .col-md-8 .bread-crumbs { padding-top: 10px; padding-left: 23px; padding-bottom: 16px; }
.content .col-md-8 .bread-crumbs ul li span { padding: 0 6px; }
.content .col-md-8 .recommend ul li a { font-weight: 500; font-size: 16px; padding: 10px 24px; }
.content .col-md-8 .recommend ul li a:hover { text-decoration: none; background: #f7f7f9; border-radius: 3px; }
.content .col-md-8 .recommend ul li .active { background: #4eac01; border-radius: 3px; color: #fff; position: relative; }
.content .col-md-8 .recommend ul li .active:after { position: absolute; content: ''; left: 45%; bottom: -14px; border: 7px solid transparent; border-top: 7px solid #4eac01; }
.content .col-md-2 { padding: 0 2px; }
.content .col-md-2 .product { border: 1px solid #ddd; border-radius: 3px; margin-top: 16px; }
.content .col-md-2 .product .desc { font-family: 'roboto', Arial; }
.content .col-md-2 .product .desc h5 { font-weight: 500; font-size: 16px; }
.content .col-md-2 .product .desc .product-code { font-size: 12px; font-weight: normal; }
.content .col-md-2 .product .desc .product-code .rating-box { width: 61px; height: 11px; background: url(../img/grey-stars.png); display: inline-block; background-repeat: no-repeat; }
.content .col-md-2 .product .desc .product-code .rating-box .stars { background: url(../img/gold-stars.png); height: 11px; width: 60px; background-repeat: no-repeat; }
.content .col-md-2 .product .desc .price p { font-weight: normal; font-size: 16px; }
.content .col-md-2 .product .desc .price p span { font-size: 20px; font-weight: 500; }
.content .col-md-2 .product .desc .available span { background: url(../img/available.png); height: 20px; width: 118px; background-repeat: no-repeat; display: inline-block; }
.content .col-md-2 .product .desc .available img { margin-bottom: 5px; height: 16px; }
.content .col-md-2 .product .desc .available img:nth-child(2) { margin-right: 15px; }
.content .col-md-2 .product .desc .basket { background: url(../img/basket.png); background-size: 20px; background-position-x: 9px; background-position-y: 4px; background-repeat: no-repeat; width: 88%; height: 30px; background-color: #4eac01; text-align: right; border: none; border-radius: 3px; color: #fff; font-size: 14px; font-weight: normal; margin: 10px; }
.content .col-md-8 { padding-left: 0 !important; }
.content .col-md-offset-4 { margin-top: 300px; }
.content .col-md-offset-4 .partner-slide .slick-prev:before, .content .col-md-offset-4 .partner-slide .slick-next:before { content: ''; }
.content .col-md-offset-4 .partner-slide .slick-prev { background-image: url(../img/arrow-prev.png); background-repeat: no-repeat; background-position: center; left: -20px; }
.content .col-md-offset-4 .partner-slide .slick-next { background-image: url(../img/arrow-next.png); background-repeat: no-repeat; background-position: center; right: -20px; }
.content .col-md-offset-4 .partner-slide .slick-slide img { margin: 0 auto; }
.content .col-md-offset-4 .desc-more { font-family: 'roboto'; }
.content .col-md-offset-4 .desc-more p { font-weight: normal; font-size: 12px; text-align: justify; margin-top: 35px; }
.content .col-md-offset-4 .desc-more a { font-weight: 500; font-size: 12px; color: #2a2a2a; text-decoration: underline; float: left; }

.last-block { font-family: 'roboto'; border: 1px solid #d1d1d1; border-radius: 3px; margin-top: 35px; }
.last-block .mail-block { display: block; margin-top: 43px; float: inherit; }
.last-block .mail-block .envelope { display: inline-block; float: left; }
.last-block .mail-block .envelope img { margin-bottom: 20px; }
.last-block .mail-block .envelope h3 { display: inline-block; font-weight: bold; font-size: 14px; text-transform: uppercase; margin-left: 10px; margin-top: 0; margin-bottom: 0; }
.last-block .mail-block .send-mail { display: inline-block; float: left; }
.last-block .mail-block .send-mail .mail { width: 335px; border: 1px solid #e7e7e7; border-radius: 3px; height: 32px; padding-left: 17px; color: #858585; font-weight: normal; font-size: 16px; margin: 0 26px; }
.last-block .mail-block .send-mail .send { width: 135px; height: 32px; border: none; border-radius: 3px; background: #4eac01; color: #fff; text-transform: uppercase; font-weight: normal; }
.last-block .information { font-size: 12px; margin-top: 42px; display: block; float: inherit; }
.last-block .information div, .last-block .information p { display: inline-block; float: left; }
.last-block .information ul li:nth-child(1) { font-weight: bold; text-transform: uppercase; }
.last-block .information ul li a { color: #2a2a2a; }
.last-block .information p { width: 208px; margin-right: 40px; font-size: 11px; }
.last-block .information .consumer { margin-right: 100px; }
.last-block .information .services { margin-right: 72px; }
.last-block .information .contacts ul li { font-weight: bold; }
.last-block .information .contacts ul li:nth-child(2) { font-size: 14px; }

footer { font-size: 12px; font-weight: 500; margin: 20px 0; }

.item .col-md-12 h2 { font-weight: 600; color: #3e8602; display: inline-block; margin-top: 0; float: left; }
.item .col-md-12 .availability { display: inline-block; float: left; padding-top: 10px; padding-left: 55px; }
.item .col-md-12 .availability span { background: url(../img/availability.png) no-repeat; width: 20px; height: 20px; display: inline-block; float: left; }
.item .col-md-12 .availability p { display: inline-block; float: left; padding-left: 6px; }
.item .col-md-12 ul { display: inline-block; float: right; }
.item .col-md-12 ul li { display: inline-block; }
.item .col-md-12 ul li:nth-of-type(1) { width: 100px; }
.item .col-md-12 ul li:nth-of-type(1) span { background: url(../img/img-li-1.png) no-repeat; }
.item .col-md-12 ul li:nth-of-type(1) span:hover { background: url(../img/img-li-hover-1.png) no-repeat; }
.item .col-md-12 ul li:nth-of-type(2) { width: 100px; }
.item .col-md-12 ul li:nth-of-type(2) span { background: url(../img/img-li-2.png) no-repeat; }
.item .col-md-12 ul li:nth-of-type(2) span:hover { background: url(../img/img-li-hover-2.png) no-repeat; }
.item .col-md-12 ul li:nth-of-type(3) span { background: url(../img/img-li-3.png) no-repeat; }
.item .col-md-12 ul li:nth-of-type(3) span:hover { background: url(../img/img-li-hover-3.png) no-repeat; }
.item .col-md-12 ul li span { width: 27px; height: 28px; display: block; margin: 0 auto; transition: 0.3s; }
.item .col-md-12 ul li p { text-align: center; }
.item .col-md-8 ul { margin-top: 10px; }
.item .slick-slide img { margin: 0 auto; }
.item .slick-slide .slick-current { border: 1px solid #ddd; border-radius: 3px; }
.item .slider-nav .slick-slide img { height: 83px; }
.item .hit { position: relative; }
.item .hit:before { position: absolute; content: " "; background: url(../img/hit.png) no-repeat; width: 50px; height: 50px; top: 0; left: 20px; }
.item .hit .slider-for { border: 1px solid #ddd; border-radius: 3px; }
.item .hit .slider-nav { margin-top: 20px; border: 1px solid #ddd; border-radius: 3px; }
.item .col-md-8 .desc-price { display: inline-block; }
.item .col-md-8 .desc-price .price p { font-size: 30px; }
.item .col-md-8 .desc-price .price p span { font-weight: 500; }
.item .col-md-8 .desc-price .rating-box { height: 20px; width: 100px; background: url(../img/grey-stars-item.png); display: inline-block; background-repeat: no-repeat; }
.item .col-md-8 .desc-price .rating-box .stars { background: url(../img/gold-stars-item.png); height: 20px; width: 100px; background-repeat: no-repeat; }
.item .col-md-8 .desc-price .basket { width: 203px; height: 54px; display: block; background-color: #4eac01; border: none; border-radius: 3px; color: #fff; font-size: 22px; font-weight: 400; letter-spacing: 1px; margin-top: 20px; }
.item .col-md-8 .desc-price a p { border-bottom: 1px solid #000; width: 125px; margin-top: 20px; color: #000; font-size: 16px; }
.item .col-md-8 .social-icons { display: inline-block; float: right; max-width: 300px; }
.item .col-md-8 .social-icons p { font-size: 16px; }
.item .col-md-8 .social-icons ul { float: right; }
.item .col-md-8 .social-icons ul li { padding: 0 25px; }
.item .col-md-8 .desc-text h3 { font-size: 18px; font-weight: 700; }
.item .col-md-8 .desc-text p { text-align: justify; text-indent: 20px; }
.item .col-md-8 .desc-text a { font-size: 20px; color: #000; text-decoration: underline; }

.basket-page { width: 100%; height: 100%; min-width: 1000px; background: rgba(0, 0, 0, 0.4); min-height: 1000px; padding-top: 84px; }
.basket-page .contain { margin: 0 auto; width: 772px; height: 630px; background-color: #fff; border-radius: 10px; }
.basket-page .contain .top { display: block; height: 70px; }
.basket-page .contain .top h1 { display: inline-block; float: left; margin-left: 63px; font-family: 'roboto'; font-weight: bold; color: #5a5a5a; }
.basket-page .contain .top .closes { display: inline-block; margin-top: 23px; float: right; margin-right: 20px; }
.basket-page .contain .production { padding-left: 50px; padding-right: 50px; }
.basket-page .contain .production ul { height: 28px; background-color: #f4f4f4; }
.basket-page .contain .production ul li { display: inline-block; float: left; margin-left: 15px; margin-top: 5px; }
.basket-page .contain .production ul li:nth-of-type(1) { width: 450px; }
.basket-page .contain .production ul li:nth-of-type(2) { width: 130px; }
.basket-page .contain .item { margin: 0 50px; height: 140px; border-bottom: 2px solid #e3e3e3; margin-top: 20px; }
.basket-page .contain .item .img { display: inline-block; width: 92px; float: left; }
.basket-page .contain .item .img img { height: 100%; margin: 0 auto; width: auto; }
.basket-page .contain .item .title h4 { margin-top: 13px; font-family: 'roboto'; font-size: 20px; color: #3e8602; }
.basket-page .contain .item .desc { display: inline-block; float: left; max-width: 350px; }
.basket-page .contain .item .desc .wholesale p { opacity: 0.5; }
.basket-page .contain .item .desc .retail, .basket-page .contain .item .desc .wholesale { /* Hide the browser's default radio button */ /* Create a custom radio button */ /* On mouse-over, add a grey background color */ /* When the radio button is checked, add a blue background */ /* Create the indicator (the dot/circle - hidden when not checked) */ /* Show the indicator (dot/circle) when checked */ /* Style the indicator (dot/circle) */ }
.basket-page .contain .item .desc .retail .container, .basket-page .contain .item .desc .wholesale .container { display: inline-block; position: relative; margin-bottom: 15px; cursor: pointer; font-size: 22px; width: auto; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding-right: 5px; }
.basket-page .contain .item .desc .retail .container input, .basket-page .contain .item .desc .wholesale .container input { position: absolute; opacity: 0; cursor: pointer; }
.basket-page .contain .item .desc .retail .checkmark, .basket-page .contain .item .desc .wholesale .checkmark { position: absolute; top: 0; left: 0; height: 15px; width: 15px; background-color: #fff; border-radius: 50%; border: 1px solid #dcdcdc; }
.basket-page .contain .item .desc .retail .container:hover input ~ .checkmark, .basket-page .contain .item .desc .wholesale .container:hover input ~ .checkmark { background-color: #ccc; }
.basket-page .contain .item .desc .retail .container input:checked ~ .checkmark, .basket-page .contain .item .desc .wholesale .container input:checked ~ .checkmark { background-color: #fff; }
.basket-page .contain .item .desc .retail .checkmark:after, .basket-page .contain .item .desc .wholesale .checkmark:after { content: ""; position: absolute; display: none; }
.basket-page .contain .item .desc .retail .container input:checked ~ .checkmark:after, .basket-page .contain .item .desc .wholesale .container input:checked ~ .checkmark:after { display: block; }
.basket-page .contain .item .desc .retail .container .checkmark:after, .basket-page .contain .item .desc .wholesale .container .checkmark:after { top: 1px; left: 1px; width: 11px; height: 11px; border-radius: 50%; background: #4eac01; }
.basket-page .contain .item .desc .retail form, .basket-page .contain .item .desc .wholesale form { display: inline-block; }
.basket-page .contain .item .desc .retail p, .basket-page .contain .item .desc .wholesale p { display: inline-block; font-family: 'Arial'; font-size: 20px; }
.basket-page .contain .item .count { display: inline-block; float: left; padding-left: 60px; margin-top: 35px; }
.basket-page .contain .item .count .retail, .basket-page .contain .item .count .wholesale { display: block; height: 50px; }
.basket-page .contain .item .count .wholesale { opacity: 0.5; }
.basket-page .contain .item .count input { width: 33px; height: 33px; border-radius: 4px; padding: 5px; border: 1px solid #aeaeae; }
.basket-page .contain .item .count .minus { display: inline-block; float: left; margin-top: 5px; }
.basket-page .contain .item .count form { display: inline-block; float: left; margin: 0 9px; }
.basket-page .contain .item .count .plus { display: inline-block; float: left; margin-top: 5px; }
.basket-page .contain .item .price { display: inline-block; float: left; width: 127px; }
.basket-page .contain .item .price .closes { display: block; height: 40px; }
.basket-page .contain .item .price .closes img { float: right; }
.basket-page .contain .item .price p { font-family: 'arial'; font-size: 20px; padding-left: 40px; }
.basket-page .contain .item .price .wholesale { opacity: 0.5; margin-top: 20px; }
.basket-page .contain .discount { padding: 0 50px; height: 120px; }
.basket-page .contain .discount .img { display: inline-block; margin-right: 10px; float: left; margin-top: 40px; }
.basket-page .contain .discount .desc { display: inline-block; max-width: 362px; font-family: 'Arial'; font-size: 16px; margin-bottom: 8px; float: left; margin-top: 25px; }
.basket-page .contain .discount .desc span { text-transform: uppercase; font-size: 18px; }
.basket-page .contain .discount .desc input { font-family: 'Arial'; width: 100%; height: 26px; border-radius: 3px; border: 1px solid #ddd; font-size: 14px; font-style: italic; padding-left: 10px; }
.basket-page .contain .discount .value { display: inline-block; float: left; font-family: 'Arial'; font-size: 18px; margin-top: 30px; width: 216px; }
.basket-page .contain .discount .value p { margin-bottom: 3px; text-align: right; }
.basket-page .contain .discount .value p:nth-of-type(2) span { color: #4a940d; font-weight: bold; margin-left: 24px; }
.basket-page .contain .discount .value p:nth-of-type(2) span:nth-of-type(2) { margin-left: 0; }
.basket-page .contain .discount .value p:nth-of-type(3) { font-weight: bold; }
.basket-page .contain .battons { padding: 0 50px; margin-top: 18px; }
.basket-page .contain .battons .add-more { display: inline-block; float: left; }
.basket-page .contain .battons .add-more, .basket-page .contain .battons .buy { text-align: center; }
.basket-page .contain .battons .add-more a, .basket-page .contain .battons .buy a { width: 182px; float: left; height: 52px; line-height: normal; display: block; color: #000; font-family: 'Arial'; font-size: 20px; border: 1px solid; border-radius: 3px; padding-top: 12px; }
.basket-page .contain .battons .add-more a:hover, .basket-page .contain .battons .buy a:hover { text-decoration: none; }
.basket-page .contain .battons .buy { display: inline-block; float: right; }
.basket-page .contain .battons .buy a { color: #fff; background-color: #4eac01; border: 1px solid #4eac01; }
