/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "fonts";

$image_dir: '../img/';
body
{
	color: #2a2a2a;
	font-family: 'roboto', Arial;
}
header
{
	ul
	{
		li
		{
			display: inline;
			font-family: 'roboto', Arial;
			font-size: 14px;
			a
			{
				color: #494949;
			}
		}
	}
}
.top-head
{
	height: 46px;
    background: #f7f7f9;
	ul
	{
		color: #494949;
		/*margin-top: 14px;*/
		li
		{
			padding: 15px;
			float: left;
			&:nth-child(1)
    		{
    			padding-left: 0;
    		}
    		&:nth-child(9)
    		{
    			padding-right: 0;
    			float: right;
    		}
    		&:nth-child(3)
    		{
    			select
    			{
    				width: 70px;
    			}
    		}
			.border-right
			{
				border-right: 1px solid #494949;
   				padding-right: 4px;
			}
			.active
			{
				text-decoration-line: underline;
    			text-decoration-style: solid;
    			text-decoration-color: #494949;
			}
			select
			{
				border: none;
			    background: #f7f7f9;
			    width: 55px;
			    border-bottom: 1px dotted #b3d995;
			}
		}
	}
}
.midle-head
{
	height: 143px;
	.container
	{
		position: relative;
	}
	.logo
	{
		margin-top: 25px;
		width: 240px;
		position: absolute;
    	left: 15px;
	}
	.preferences
	{
		display: inline-block;
    	float: right;
    	width: 250px;
    	height: 133px;
    	margin-top: 22px;
    	text-align: right;
    	ul
    	{
    		margin-bottom: 30px;
    		li
    		{
		    	margin-right: 10px;
		    	&:nth-child(2)
    			{
    				margin-right: 0;
    			}
    			img
		    	{
		    		margin-bottom: 5px;
		    		margin-right: 8px;
		    	}
    		}
    	}
    	.phone
    	{
    		img
    		{
    			display: inline-block;
    			float: inherit;
    			padding-right: 20px;
    		}
    		p
    		{
    			display: inline-block;
    			float: left;
    			margin: 0;
    			color: #367800;
    			float: right;
    			&:nth-child(2)
    			{
    				font-family: 'roboto', Arial;
    				font-weight: bold;
    				font-size: 20px;
    			}
    			&:nth-child(3)
    			{
    				font-size: 16px;
    				margin-left: 3px;
    			}
    		}
    	}
	}
}
nav
{
	.navbar-collapse
	{
		background: #4eac01;
		border-radius: 3px;
		height: 47px;
		ul
		{
			li
			{
				a
				{
					color: #ffffff;
					font-family: arial;
				    font-size: 14px;
				    text-transform: uppercase;
				    padding: 20px 17.5px;
				    &:hover
				    {
				    	background: #4eac01;
				    	text-decoration: underline;
				    }
				}

				.navbar-form 
				{
					margin: 0;
				    padding: 0;
				    position: absolute;
				    top: 13px;
				    box-sizing: border-box;
				    .input-group
				    {
				    	>.form-control
				    	{
				    		height: 35px;
						    border: none;
						    padding: 0;
						    width: 350px;
						    padding-left: 17px;
				    	}
				    	button
					    {
					    	height: 35px;
						    border: none;
						    background: #fff;
					    }
				    }
				}
				.basket
				{
					position: absolute;
				    left: 410px;
				    top: 10px;
				    width: 100px;
				    img
				    {
				    	float: left;
				    	width: 30px;
    					padding-top: 5px;
				    }
				    p
				    {
				    	display: inline-block;
    					margin: 0;
    					float: right;
    					color: #fff;
    					&:nth-child(2)
    					{
    						font-family: 'roboto', Arial;
    						font-weight: 500;
    						font-size: 16px;
    						text-transform: uppercase;
    					}
    					&:nth-child(3)
    					{
    						font-family: 'roboto', Arial;
    						font-weight: normal;
    						font-size: 13px;
    					}
				    }
				}
			}
		}
	}
}
.content
{
	.range
	{
		border: 1px solid #e8e8e8;
    	border-radius: 3px;
		color: #2a2a2a;
		.span
		{
			display: inline-block;
			margin: 0 20px;
			span
			{
				width: 30px;
				height: 3px;
				background: #4eac01;
				display: block;
				margin-top: 7px;
			}
		}
		h3
		{
    		font-family: 'roboto', Arial;
    		font-weight: normal;
			margin: 20px 0;
			display: inline-block;
		}
		ul
		{
			li
			{
				border-bottom: 1px solid #e8e8e8;
			    height: 50px;
			    margin-left: 20px;
			    margin-right: 20px;
			    /*background: url(../img/arrow.png) no-repeat;*/
    			/*background-position: right;*/
    			&:hover
	    		{
	    			background: rgba(220, 220, 220, 0.18);
	    		}
				a
				{
    				color: #2a2a2a;
					font-family: 'roboto', Arial;
    				font-weight: normal;
    				padding: 10px 0 10px 0;
    				display: block;
    				background: url(../img/arrow.png) no-repeat;
    				background-position: right;
    				&:hover
	    			{
	    				text-decoration: none;
	    			}
    				img
    				{
    					padding-right: 8px;
    					height: 100%;
    					padding-bottom: 10px;
    				}
    				span
    				{
    					font-size: 16px;
    				}
				}
			}
		}
	}
	.col-md-8
	{
		padding-left: 0;
		ul
		{
			display: inline-block;
			li
			{
				display: inline;
				a
				{
					color: #2a2a2a;
					font-family: 'roboto', Arial;
					font-weight: 200;
					font-size: 13px;
				}
			}
			.active
			{
				a
				{
					font-weight: 600;
				}
			}
		}
		.code-item
		{
			display: inline-block;
			float: right;
			padding: 10px 20px;
			background: #c3ea21;
			border-radius: 3px;
		}
		.sorting
		{
			height: 31px;
	    	background: #f7f7f9;
	    	border-radius: 3px;
			ul
			{
				padding-left: 20px;
	    		padding-top: 7px;
	    		box-sizing: border-box;
				li
				{
					padding: 0 2.5px;
					a
					{
						img
						{
							padding-left: 2px; 
						}
					}
				}
			}
		}
		.bread-crumbs
		{
			padding-top: 10px;
    		padding-left: 23px;
   			padding-bottom: 16px;
			ul
			{
				li
				{
					span
					{
						padding: 0 6px;
					}
				}
			}
		}
		.recommend
		{
			ul
			{
				li
				{

					a
					{
						font-weight: 500;
						font-size: 16px;
						padding: 10px 24px;
						&:hover
						{
    						text-decoration: none;
    						background: #f7f7f9;
    						border-radius: 3px;
						}
					}
					.active
					{
						background: #4eac01;
    					border-radius: 3px;
    					color: #fff;
    					position: relative;
    					&:after
    					{
    						position: absolute;
    						content: '';
						    left: 45%;
						    bottom: -14px;
						    border: 7px solid transparent;
						    border-top: 7px solid #4eac01;
    					}
					}
				}
			}
		}
	}
	.col-md-2
	{
		padding: 0 2px;
		.product
		{
			border: 1px solid #ddd;
		    border-radius: 3px;
		    margin-top: 16px;
			.desc
			{
				font-family: 'roboto', Arial;
				h5
				{
					font-weight: 500;
					font-size: 16px;
				}
				.product-code
				{
					font-size: 12px;
    				font-weight: normal;
					.rating-box
					{
						width: 61px;
						height: 11px;
    					background: url(../img/grey-stars.png);
    					display: inline-block;
    					background-repeat: no-repeat;
    					.stars
    					{
    						background: url(../img/gold-stars.png);
    						height: 11px;
						    width: 60px;
						    background-repeat: no-repeat;
    					}
					}
				}
				.price
				{
					p
					{
						font-weight: normal;
						font-size: 16px;
						span
						{
							font-size: 20px;
							font-weight: 500;
						}
					}
				}
				.available
				{
					span
					{
						background: url(../img/available.png);
    					height: 20px;
    					width: 118px;
						background-repeat: no-repeat;
    					display: inline-block;
					}
					img
					{
						margin-bottom: 5px;
						height: 16px;
						&:nth-child(2)
						{
    						margin-right: 15px;
						}
					}
				}
				.basket
				{
					background: url(../img/basket.png);
				    background-size: 20px;
				    background-position-x: 9px;
				    background-position-y: 4px;
				    background-repeat: no-repeat;
				    width: 88%;
				    height: 30px;
				    background-color: #4eac01;
				    text-align: right;
				    border: none;
				    border-radius: 3px;
				    color: #fff;
				    font-size: 14px;
				    font-weight: normal;
				    margin: 10px;
				}
			}
		}
	}
	.col-md-8
	{
		padding-left: 0 !important;
	}
	.col-md-offset-4
	{
		margin-top: 300px;
		.partner-slide
		{
			.slick-prev, .slick-next
			{
				&:before
				{
					content: '';
				}
			}
			.slick-prev
			{
				background-image: url(../img/arrow-prev.png);
				background-repeat: no-repeat;
				background-position: center;
				left: -20px;
			}
			.slick-next
			{
				background-image: url(../img/arrow-next.png);
				background-repeat: no-repeat;
				background-position: center;
				right: -20px;
			}
			.slick-slide
			{
				img
				{
					margin: 0 auto;
				}
			}
		}
		.desc-more
		{
			font-family: 'roboto';
			p
			{
    			font-weight: normal;
			    font-size: 12px;
			    text-align: justify;
			    margin-top: 35px;
			}
			a
			{
				font-weight: 500;
				font-size: 12px;
				color: #2a2a2a;
				text-decoration: underline;
				float: left;
			}
		}
	}
}
.last-block
{
	font-family: 'roboto';
	border: 1px solid #d1d1d1;
    border-radius: 3px;
    margin-top: 35px;
	.mail-block
	{
		display: block;
    	margin-top: 43px;
    	float: inherit;
		.envelope
		{
			display: inline-block;
			float: left;
			img
			{
				margin-bottom: 20px;
			}
			h3
			{
				display: inline-block;
			    font-weight: bold;
			    font-size: 14px;
			    text-transform: uppercase;
			    margin-left: 10px;
			    margin-top: 0;
			    margin-bottom: 0;
			}
		}
		.send-mail
		{
			display: inline-block;
			float: left;
			.mail
			{
				width: 335px;
			    border: 1px solid #e7e7e7;
			    border-radius: 3px;
			    height: 32px;
			    padding-left: 17px;
			    color: #858585;
			    font-weight: normal;
			    font-size: 16px;
			    margin: 0 26px;
			}
			.send
			{
				width: 135px;
			    height: 32px;
			    border: none;
			    border-radius: 3px;
			    background: #4eac01;
			    color: #fff;
			    text-transform: uppercase;
			    font-weight: normal;
			}
		}
	}
	.information
	{
    	font-size: 12px;
    	margin-top: 42px;
    	display: block;
    	float: inherit;
		div,p
		{
			display: inline-block;
			float: left;
		}
		ul
		{
			li
			{
				&:nth-child(1)
				{
					font-weight: bold;
					text-transform: uppercase;
				}
				a
				{
					color: #2a2a2a;
				}
			}
		}
		p
		{
			width: 208px;
			margin-right: 40px;
			font-size: 11px;
		}
		.consumer
		{
			margin-right: 100px;
		}
		.services
		{
			margin-right: 72px;
		}
		.contacts
		{
			ul
			{
				li
				{
					font-weight: bold;
					&:nth-child(2)
					{
						font-size: 14px;
					}
				}
			}
		}
	}
}
footer
{
	font-size: 12px;
	font-weight: 500;
	margin: 20px 0;
}

//  ITEM

.item
{
	.col-md-12
	{
		h2
		{
			font-weight: 600;
			color: #3e8602;
			display: inline-block;
			margin-top: 0;
			float: left;
		}
		.availability
		{
			display: inline-block;
			float: left;
			padding-top: 10px;
			padding-left: 55px;
			span
			{
				background: url(../img/availability.png) no-repeat;
				width: 20px;
				height: 20px;
				display: inline-block;
				float: left;
			}
			p
			{
				display: inline-block;
				float: left;
				padding-left: 6px;
			}
		}
		ul
		{
			display: inline-block;
			float: right;
			li
			{
				display: inline-block;
				&:nth-of-type(1)
				{
					width: 100px;
					span
					{
						background: url(../img/img-li-1.png) no-repeat;
						&:hover
						{
							background: url(../img/img-li-hover-1.png) no-repeat;
						}
					}
				}
				&:nth-of-type(2)
				{
					width: 100px;
					span
					{
						background: url(../img/img-li-2.png) no-repeat;
						&:hover
						{
							background: url(../img/img-li-hover-2.png) no-repeat;
						}
					}
				}
				&:nth-of-type(3)
				{
					span
					{
						background: url(../img/img-li-3.png) no-repeat;
						&:hover
						{
							background: url(../img/img-li-hover-3.png) no-repeat;
						}
					}
				}
				span
				{
					width: 27px;
					height: 28px;
					display: block;
					margin: 0 auto;
					transition: 0.3s;
				}
				p
				{
					text-align: center;
				}
			}
		}
	}
	.col-md-8
	{
		ul
		{
			margin-top: 10px;
		}
	}
	.slick-slide
	{
		img
		{
			margin: 0 auto;
		}
		.slick-current
		{
			border: 1px solid #ddd;
    		border-radius: 3px;
		}
	}
	.slider-nav
	{
		.slick-slide
		{
			img
			{
				height: 83px;
			}
		}
	}
	.hit
	{
		position: relative;
		&:before
		{
			position: absolute;
			content: " ";
			background: url(../img/hit.png) no-repeat;
			width: 50px;
			height: 50px;
			top: 0;
			left: 20px;
		}
		.slider-for
		{
			border: 1px solid #ddd;
			border-radius: 3px;
		}
		.slider-nav
		{
			margin-top: 20px;
			border: 1px solid #ddd;
			border-radius: 3px;
		}
	}
	.col-md-8
	{
		.desc-price
		{
			display: inline-block;
			.price
			{
				p
				{
					font-size: 30px;
					span
					{
    					font-weight: 500;
					}
				}
			}
			.rating-box
			{
				height: 20px;
				width: 100px;
				background: url(../img/grey-stars-item.png);
				display: inline-block;
				background-repeat: no-repeat;
				.stars
				{
					background: url(../img/gold-stars-item.png);
					height: 20px;
					width: 100px;
					background-repeat: no-repeat;
				}
			}
			.basket
			{
				width: 203px;
				height: 54px;
				display: block;
				background-color: #4eac01;
				border: none;
				border-radius: 3px;
				color: #fff;
				font-size: 22px;
				font-weight: 400;
				letter-spacing: 1px;
				margin-top: 20px;
			}
			a
			{
				p
				{
					border-bottom: 1px solid #000;
					width: 125px;
					margin-top: 20px;
					color: #000;
					font-size: 16px;
				}
			}
		}
		.social-icons
		{
			display: inline-block;
			float: right;
			max-width: 300px;
			p
			{
				font-size: 16px;
			}
			ul
			{
				float: right;
				li
				{
					padding: 0 25px;
				}
			}
		}
		.desc-text
		{
			h3
			{
				font-size: 18px;
    			font-weight: 700;
			}
			p
			{
				text-align: justify;
				text-indent: 20px;
			}
			a
			{
				font-size: 20px;
				color: #000;
				text-decoration: underline;
			}
		}
	}
}

.basket {
	width: 100%;
    height: 100%;
    min-width: 1000px;
    background: rgba(0, 0, 0, 0.4);
    min-height: 1000px;
	padding-top: 84px;

	.contain {
		margin: 0 auto;
		width: 772px;
		height: 630px;
		background-color: #fff;
		border-radius: 10px;

		.top {
			display: block;
			height: 70px;
			
			h1 {
				display: inline-block;
				float: left;
				margin-left: 63px;
				font-family: 'roboto';
				font-weight: bold;
				color: #5a5a5a;
			}
	
			.closes {
				display: inline-block;
				margin-top: 23px;
				float: right;
				margin-right: 20px;
			}
		}

		.production {
			padding-left: 50px;
			padding-right: 50px;

			ul {
				height: 28px;
				background-color: #f4f4f4;
			
				li {
					display: inline-block;
					float: left;
					margin-left: 15px;
					margin-top: 5px;

					&:nth-of-type(1) {
						width: 450px;
					}

					&:nth-of-type(2) {
						width: 130px;
					}
				}
			}
		}

		.item {
			margin: 0 50px;
			height: 140px;
			border-bottom: 2px solid #e3e3e3;
			margin-top: 20px;
			.img {
				display: inline-block;
				width: 92px;
				float: left;

				img {
					height: 100%;
					margin: 0 auto;
					width: auto;
				}
			}

			.title {

				h4 {
					margin-top: 13px;
					font-family: 'roboto';
					font-size: 20px;
					color: #3e8602;
				}
			}

			.desc {
				display: inline-block;
				float: left;
				max-width: 350px;

				.wholesale {
					p {
						opacity: 0.5;
					}
				}

				.retail, .wholesale {
					.container {
						display: inline-block;
						position: relative;
						margin-bottom: 15px;
						cursor: pointer;
						font-size: 22px;
						width: auto;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
						padding-right: 5px;
					}
					
					/* Hide the browser's default radio button */
					.container input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
					}
					
					/* Create a custom radio button */
					.checkmark {
						position: absolute;
						top: 0;
						left: 0;
						height: 15px;
						width: 15px;
						background-color: #fff;
						border-radius: 50%;
						border: 1px solid #dcdcdc;
					}
					
					/* On mouse-over, add a grey background color */
					.container:hover input ~ .checkmark {
						background-color: #ccc;
					}
					
					/* When the radio button is checked, add a blue background */
					.container input:checked ~ .checkmark {
						background-color: #fff;
					}
					
					/* Create the indicator (the dot/circle - hidden when not checked) */
					.checkmark:after {
						content: "";
						position: absolute;
						display: none;
					}
					
					/* Show the indicator (dot/circle) when checked */
					.container input:checked ~ .checkmark:after {
						display: block;
					}
					
					/* Style the indicator (dot/circle) */
					.container .checkmark:after {
						top: 1px;
						left: 1px;
						width: 11px;
						height: 11px;
						border-radius: 50%;
						background: #4eac01;
					}

					form {
						display: inline-block;
					}

					p {
						display: inline-block;
						font-family: 'Arial';
    					font-size: 20px;
					}
				}
			}

			.count {
				display: inline-block;
				float: left;
				padding-left: 60px;
				margin-top: 35px;

				.retail, .wholesale {
					display: block;
					height: 50px;
				}

				.wholesale {
					opacity: 0.5;
				}

				input {
					width: 33px;
					height: 33px;
					border-radius: 4px;
					padding: 5px;
					border: 1px solid #aeaeae;
				}

				.minus {
					display: inline-block;
					float: left;
					margin-top: 5px;
				}

				form {
					display: inline-block;
					float: left;
					margin: 0 9px;
				}

				.plus {
					display: inline-block;
					float: left;
					margin-top: 5px;
				}
			}
			
			.price {
				display: inline-block;
				float: left;
				width: 127px;

				.closes {
					display: block;
					height: 40px;
					
					img {
						float: right;
					}
				}

				p {
					font-family: 'arial';
					font-size: 20px;
					padding-left: 40px;
				}

				.wholesale {
					opacity: 0.5;
					margin-top: 20px;
				}
			}
		}

		.discount {
			padding: 0 50px;
			height: 120px;

			.img {
				display: inline-block;
				margin-right: 10px;
				float: left;
				margin-top: 40px;
			}

			.desc {
				display: inline-block;
				max-width: 362px;
				font-family: 'Arial';
				font-size: 16px;
				margin-bottom: 8px;
				float: left;
				margin-top: 25px;

				span {
					text-transform: uppercase;
					font-size: 18px;
				}

				input {
					font-family: 'Arial';
					width: 100%;
					height: 26px;
					border-radius: 3px;
					border: 1px solid #ddd;
					font-size: 14px;
					font-style: italic;
					padding-left: 10px;
				}
			}

			.value {
				display: inline-block;
				float: left;
				font-family: 'Arial';
				font-size: 18px;
				margin-top: 30px;
				width: 216px;

				p {
					margin-bottom: 3px;
					text-align: right;

					&:nth-of-type(2) {
						span {
							color: #4a940d;
							font-weight: bold;
							margin-left: 24px;

							&:nth-of-type(2) {
								margin-left: 0;
							}
						}
					}

					&:nth-of-type(3) {
						font-weight: bold;
					}
				}
			}
		}

		.battons {
			padding: 0 50px;
			margin-top: 18px;

			.add-more {
				display: inline-block;
				float: left;
			}

			.add-more, .buy {
				text-align: center;

				a {
					width: 182px;
					float: left;
					height: 52px;
					line-height: normal;
					display: block;
					color: #000;
					font-family: 'Arial';
					font-size: 20px;
					border: 1px solid;
					border-radius: 3px;
					padding-top: 12px;

					&:hover {
						text-decoration: none;
					}
				}
			}

			.buy {
				display: inline-block;
				float: right;

				a {
					color: #fff;
					background-color: #4eac01;
					border: 1px solid #4eac01;
				}
			}
		}
	}
}